<div class="bg-white border border-black overflow-hidden rounded shadow flex flex-col">
  <div class="bg-gray-100 w-full h-64 block"></div>
  <div class="px-8 py-6 flex-1">
    <h2 class="font-mono text-xl font-bold"><span class="w-3/4 py-2.5 rounded animate-pulse bg-gray-200 block" /></h2>
    <div class="mt-8 space-y-4">
      <p class="w-full py-1.5 rounded animate-pulse bg-gray-200 block"></p>
      <p class="w-5/6 py-1.5 rounded animate-pulse bg-gray-200 block"></p>
      <p class="w-full py-1.5 rounded animate-pulse bg-gray-200 block"></p>
    </div>
    <p class="mt-8 w-5/6 py-1.5 rounded animate-pulse bg-gray-200 block"></p>
  </div>
</div>
