
<div class="flex justify-between items-center mb-12">
  <h1 class="text-2xl font-bold font-mono">Articles</h1>
  <%= link_to "Write an article ✍️ ", new_article_path, class: "px-6 py-3 bg-white text-black rounded shadow border border-black" %>
</div>

<%= turbo_frame_tag "articles_list", src: articles_url(format: :turbo_stream, page: params[:page]), loading: :lazy do %>
  <div class="md:grid md:grid-cols-2 lg:grid-cols-3 gap-8" id="articles_placeholder">
    <!-- Adjust this to your Pagy default item count -->
    <% 3.times do %>
      <%= render "article_placeholder" %>
    <% end %>
  </div>
<% end %>

<%= turbo_frame_tag "articles_pagination", data: { controller: "turbo-frame-history" } %>